.ProseMirror-focused {
  outline: none;
}

.tiptap-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.tiptap {
  --size: 1.075rem;
  --increment: 1.3;
}

h5.tiptap-title {
  font-size: var(--size);
}

h4.tiptap-title {
  font-size: calc(var(--size) * pow(var(--increment), 1));
}

h3.tiptap-title {
  font-size: calc(var(--size) * pow(var(--increment), 2));
}

h2.tiptap-title {
  font-size: calc(var(--size) * pow(var(--increment), 3));
}

h1.tiptap-title {
  font-size: calc(var(--size) * pow(var(--increment), 4));
}