# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
next-env.d.ts
cdk.out
# debug
.pnpm-debug.log*

.env
.env*.local

# vercel
.vercel
**/dist 
# typescript
*.tsbuildinfo
.pnpm-store
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Contentlayer
.contentlayer
