@media screen and (min-width: 767px) {
  *[data-mobile] {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  *[data-desktop] {
    display: none;
  }
}

@layer reset {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font: inherit;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  input {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
  }
}